<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Voter error</title>
</head>
<body>
<h1>Hey! you broke the voter!.</h1>
The problem is: {{ problem }}!
<br/><br/>
<a href="/">Vote</a>
</body>
</html>