{{#*inline "page"}}

<h1>Lunch Vote</h1>

<br />

<div>
    <form action="/vote" method="post" accept-charset="utf-8">
        Username:<input type="text" name="username">
        <br /><br />

        <table>
            {{#each items}}
                <tr>
                <td>{{ this.1 }}: </td>
                <td> <input type="checkbox" name="{{ this.0 }}"> </td>
                </tr>
            {{/each}}
        <table>

        <input type="submit" value="Vote">
    </form>
</div>

{{/inline}}
{{~> (parent)~}}